{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>Forget Password</title>
    <link rel="stylesheet" href="{% static 'styles/formstyle.css' %}">

{% endblock %}

{% block content %}
    <div class="container form-container">
        {% if not show_reset %}
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        
        {% else %}
        
        <p>{{ message }}</p>
        
        <a class="btn btn-success" href="{% url 'reset_password' %}">
            Reset Password
        </a>
        
        {% endif %}
    </div>
{% endblock %}
