{% extends 'main.html' %}

{% block content %}
 <h1>Forget Passward Page</h1>
    {% if error %}
    {{error}}
    {% endif %}

    {% if messages %}
     {% for i in messages %}
      <h2>{{i}}</h2>
     {% endfor %}
    {% endif %}
   <center>
    <form action="" method="POST">
        {% csrf_token %}
        {% if new %}
         <label for="fnew_pass">NEW Password</label>
        <input type="text" name="fnew_pass" placeholder="new_pass"><br><br>

        <label for="cfnew_pass">Confirm NewPass</label>
        <input type="text" name="cfnew_pass" placeholder="cfnew_pass"><br><br>
        <button type="submit">Submit</button>
        
        {% else %}
       <label for="username">Username:</label>
       <input type="text" name="username" placeholder="username"><br><br>
       <button type="submit">Submit</button>
        {% endif %}
       
    </form>
    </center> 
        
{% endblock content %}