{% extends 'main.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="container form-container">
        <h2>Student Login</h2>
        
        <form method="POST">
            {% csrf_token %}
        
            {{ form.as_p }}
        
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        
        </form>
        <p>New User? <a href="{% url 'register' %}">Register Now</a></p>
        <a href="{% url 'forgot_password' %}">Forgot Password</a>
        {{ message }}
    </div>
{% endblock %}

