{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
<link rel="stylesheet" href="{% static 'styles/formstyle.css' %}">
{% endblock %}

{% block content %}
    <div class="container form-container">
        <h2>Login</h2>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        
        </form>
        <div>New User? <a href="{% url 'register' %}">Register Now</a></div>
        <a href="{% url 'forgot_password' %}">Forgot Password</a>
        {{ message }}
    </div>
{% endblock %}

