{% extends 'main.html' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <div class="container">

        <h2>Student Profile</h2>
        
        {% if profile.profile_image %}
        
        <img src="http://127.0.0.1:8000{{ profile.profile_image }}"
        width="150"
        height="150">
        
        <br><br>
        
        {% endif %}
        
        <p>First Name : {{ profile.first_name }}</p>
        
        <p>Last Name : {{ profile.last_name }}</p>
        
        <p>Username : {{ profile.username }}</p>
        
        <p>Email : {{ profile.email }}</p>
        
        <p>Phone : {{ profile.phone }}</p>
        
        <p>Address : {{ profile.address }}</p>
        
        <p>City : {{ profile.city }}</p>
        
        <p>State : {{ profile.state }}</p>
        
        <p>Pincode : {{ profile.pincode }}</p>
        
        <a href="{% url 'update' %}">
        Update Profile
        </a>
        
        <br><br>
        
        <a href="{% url 'change_password' %}">
        Change Password
        </a>
        
        <br><br>
        
        <a href="{% url 'logout' %}">
        Logout
        </a>
    </div>
{% endblock %}


