
{% extends 'main.html' %}
{% load static %}

{% block title %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'styles/formstyle.css' %}">
{% endblock %}

{% block content %}
    <div class="container form-container">
    <h2>User Registration</h2>
    
    <form method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <button type="submit" class="btn btn-success">
            Register
        </button>
    
    </form>
    
    {{ message }}
</div>
{% endblock %}


