{% extends 'main.html' %}

{% block content %}
 <h1>Reset Passward Page</h1>
    {% if error %}
    {{error}}
    {% endif %}

    {% if messages %}
     {% for i in messages %}
      <h2>{{i}}</h2>
     {% endfor %}
    {% endif %}
   <center>
    <form action="" method="POST">
        {% csrf_token %}
        {% if new %}
         <label for="new_pass">NEW Password</label>
        <input type="text" name="new_pass" placeholder="new_pass"><br><br>
        <button type="submit">Submit</button>
        
        {% else %}
       <label for="old_pass">Old Passward:</label>
       <input type="text" name="old_pass" placeholder="old_pass"><br><br>
       <button type="submit">Submit</button>
        {% endif %}
       
    </form>
    </center> 
        
{% endblock content %}